.about-header{
    .direction(column,center);
    height:50rem;
    

    .about-info{
        .direction(column,center);
        h1{
            font-size:6rem;
        }
        p{
            font-size:4rem;
        }
    }
    img{
        width:80%;
        height:70%;
    }
}
.mission{
    background-color: #335C81;
    p{
        color:white;
        font-size:4rem;
    }
}
.team{
    background-color: #A3BCF9;
    .flex(space-evenly,flex-start);
    width:100%;
    .box{
        .direction(column,center);
        img{
        width:50%;
        border-radius:30rem;
        }
        h3{
            font-size:2rem;
        }
        p{
            font-size:1.5rem;
        }
    }
}