header {
    .direction(column, center);
    background-color: #018E42;
    h1{
        font-size: 5rem;
        padding:5%;
        color:white;
        font-family:@main-font;
    }
    img {
        width:60%;
    }
}
