header {
    .direction(column, center);
    background-color: white;
    height:20%;
    .title{
        width:100%;
        .flex(center,center);
        background-color:@dark-blue;
        h1{
            font-size: 4rem;
            padding:3%;
            color:white;
            font-family:@main-font;
            @media @mobile{
                font-size:2rem;
            }
        }
    }
    img {
        height:10%;
        margin:2% 0;
        width:73%;
    }
}
.about{
    .flex(space-evenly,center);
    background-color:@light-blue;
    @media @mobile{
        .direction(column,center);
    }
    img{
        width:20%;
        @media @mobile{
            width:60%;
        }
    }
    h2{
        font-size: 3.5rem;
        width:40%;
        @media @mobile{
            font-size:2rem;
            width:80%;
        }
    }
}
.info{
    .flex(space-evenly,center);
    background-color:@purple;
    @media @mobile{
        .direction(column-reverse,center);
    }
    img{
        width:20%;
        @media @mobile{
            width:70%;
        }
    }
    h2{
        color:white;
        font-size: 3.5rem;
        width:40%;
        @media @mobile{
            font-size:2rem;
            width:80%;
        }
    }  
}
.schedule{
    .flex(space-evenly,center); 
    @media @mobile{
        .direction(column,center);
    }
    img{
        width:20%;
        @media @mobile{
            width:70%;
        }
    }
    h2{
        font-size: 3.5rem;
        width:40%;
        @media @mobile{
            font-size:2rem;
            width:80%;
        }
    }  
}
.display{
    .flex(space-evenly,center);
    background-color:@dark-blue;
    @media @mobile{
        .direction(column-reverse,center);
    }
    img{
        width:20%;
        height:26rem;
        @media @mobile{
            width:70%;
        }
    }
    h2{
        color:white;
        font-size: 3.5rem;
        width:40%;
        @media @mobile{
            font-size:2rem;
            width:80%;
        }
    }     
}
.sign-up{
    .direction(column, center);
    background-color:@light-blue;
    h2{
        margin:2%;
        .flex(center,center);
        font-size: 3.5rem;
        width:100%;
        @media @mobile{
            font-size:3rem;
        }
    }
    button{
        margin:2%;
        .custom-btn();
        @media @mobile{
            .custom-btn(@width:50%);
        }
    } 
}