header {
    .direction(column, center);
    background-color: #EFF6E0;
    .title{
        width:100%;
        .flex(center,center);
        background-color:#18314F;
        h1{
            font-size: 4rem;
            padding:3%;
            color:#EFF6E0;
            font-family:@main-font;
            @media @mobile{
                font-size:2rem;
            }
        }
    }
    img {
        margin-bottom:3%;
        width:70%;
    }
}
.about{
    .flex(space-evenly,center);
    background-color:#A3BCF9;
    @media @mobile{
        .direction(column,center);
    }
    img{
        width:20%;
        @media @mobile{
            width:60%;
        }
    }
    h2{
        font-size: 3.5rem;
        width:40%;
        @media @mobile{
            font-size:2rem;
            width:80%;
        }
    }
}
.info{
    .flex(space-evenly,center);
    background-color:#7D82B8;
    @media @mobile{
        .direction(column-reverse,center);
    }
    img{
        width:20%;
        @media @mobile{
            width:70%;
        }
    }
    h2{
        color:#EFF6E0;
        font-size: 3.5rem;
        width:40%;
        @media @mobile{
            font-size:2rem;
            width:80%;
        }
    }  
}
.schedule{
    .flex(space-evenly,center); 
    @media @mobile{
        .direction(column,center);
    }
    img{
        width:20%;
        @media @mobile{
            width:70%;
        }
    }
    h2{
        font-size: 3.5rem;
        width:40%;
        @media @mobile{
            font-size:2rem;
            width:80%;
        }
    }  
}
.display{
    .flex(space-evenly,center);
    background-color:#335C81;
    @media @mobile{
        .direction(column-reverse,center);
    }
    img{
        width:20%;
        height:26rem;
        @media @mobile{
            width:70%;
        }
    }
    h2{
        color:#EFF6E0;
        font-size: 3.5rem;
        width:40%;
        @media @mobile{
            font-size:2rem;
            width:80%;
        }
    }     
}
.sign-up{
    .direction(column, center);
    background-color:#A3BCF9;
    h2{
        margin:2%;
        .flex(center,center);
        font-size: 3.5rem;
        width:100%;
        @media @mobile{
            font-size:3rem;
        }
    }
    button{
        margin:2%;
        .custom-btn();
        @media @mobile{
            .custom-btn(@width:50%);
        }
    } 
}