// *{
//     border:1px solid black !important;
    
// }

.sticky-nav{
    position: sticky;
    top: 0;

}

.navcontainer{
    .flex(space-around, center);
    width: 100%;
    height:10rem;
    background-color:@nav-color;
    @media @mobile{
        .direction(column,center);         
    } 
    
    nav{ 
        .flex(flex-end,center);
        width:40%;
        font-size: 2rem;
        text-decoration: none;
         @media @mobile{
            width:100%; 
         }   


        a{
            width:29%;
            text-decoration: none;
            color:white;
            font-family:@main-font;
            &:hover{
                color:@logo-color;
            }
        }
    }

    .logo{
        width:10%;
        @media @mobile{
            width:30%; 
         }  
        h1{
            font-size: x-large;
            color:white;    
        }
        a{
            text-decoration: none;
            .flex(space-evenly, center);
            font-family:@main-font;   
        }
        i{
            color:@logo-color;
            margin: 5%;
            font-size:x-large;
        }
    }
}